.feedback__btnList {
    display: flex;
    gap: 10px;

    list-style-type: none;
}

.feedback__btn {
    padding: 4px 10px;

    border: none;
    border-radius: 5px;
    
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
    background-color: aliceblue;

    font-size: 16px;
    text-transform: capitalize;
    
    cursor: pointer;
    user-select: none;
}

.feedback__btn:active {
    background-color: bisque;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.47);
}
