.statistics__list {
    padding-left: 12px;
    display: flex;
    flex-direction: column;

    list-style-type: none;
}

.statistics__item {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}

.statistics__span {
    margin-left: 8px;
    font-weight: 500;
}